.card-hover:hover{
    transform: scale(1.02);
    transition: 1s;
    color: white;
    background-color: green;
    border-radius: 5px;
}

.card-hover:hover::before{
    content: "J'achète";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
    color: white;
    border-radius: 5px;
}

.khady{
    background-color: lightblue;
}
.sociaux a:hover{
    color: rgba(255, 255, 255, 0.5);
}
.sociaux a{
    color: white;
}